apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: portal-frontend
  namespace: seedtest
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: portal-frontend
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
