apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: r-forecast-credentials
  namespace: seedtest
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: gcpsm-secret-store
    kind: SecretStore
  target:
    name: r-forecast-credentials
    creationPolicy: Owner
  data:
  - secretKey: token
    remoteRef:
      key: r-forecast-internal-token
