apiVersion: v1
kind: LimitRange
metadata:
  name: seedtest-defaults
  namespace: seedtest
spec:
  limits:
    - type: Container
      defaultRequest:
        cpu: "200m"
        memory: "256Mi"
      default:
        cpu: "1"
        memory: "1Gi"
