apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: r-irt-plumber
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: r-irt-plumber
  endpoints:
    - port: http
      interval: 30s
      path: /metrics
