apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
    governance: enabled
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: 8000
      protocol: TCP
