apiVersion: v1
kind: Service
metadata:
  name: r-forecast-plumber
  namespace: seedtest
  labels:
    app: r-forecast-plumber
    component: analytics
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: r-forecast-plumber
