# cSpell:ignore univprepai
apiVersion: v1
kind: Service
metadata:
  name: r-brms-plumber
  namespace: seedtest
  labels:
    app: r-brms-plumber
    component: analytics
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: r-brms-plumber
