apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: seedtest

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: seedtest-api
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "phase1"
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "1"
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "enforce"
      - op: replace
        path: /spec/template/spec/containers/0/env/3/value
        value: "/app/governance/compiled/policy_bundle_phase1.json"

# Increase replicas for production readiness
replicas:
  - name: seedtest-api
    count: 3
